* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sophia Sans', sans-serif;
}

body {
  background-color: #24527a;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  gap: 10px;
  padding-bottom: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#chat-container::-webkit-scrollbar {
  display: none;
}

form {
  background-color: #706a92;
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 10px;
  width: 100%;
    max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
}

textarea::-webkit-input-placeholder {
  color: #a7bcb9;
}

textarea {
background-color: transparent;
color: white;
font-size: 18px;
outline: none;
border: none;
padding-top: 6px;
padding-left: 8px;
}

button {
  background-color: #706a92;
  border: none;
}

#send {
  width: 30px;
  height: 30px;
  cursor: pointer;
}